@charset "utf-8";

/* 슬라이더 */
#slider {width:100%; height: 400px; background-image: url("../img/slider-img-2.jpg"); background-size: cover; display: flex; justify-content: center; align-items: center; }
#slider > .container {width:100%; margin:0 auto; line-height: normal; text-align: center;}
#slider > .container > span {font-size: 28px; color: #883ff9; font-weight: bold; padding-top: 2%;}
#slider > .container > h3 {font-size: 55px; color: #fff; line-height: 1;}
#slider > .container > .smalltext {margin: 40px 0; display: none; justify-content: center; align-items: center; color: #ec167f;}
#slider > .container > .smalltext > span {font-size: 18px; color: #fff; margin: 0 20px 0 5px;}
#slider > .container > button {font-size: 15px; color: #fff; background-color: #ec167f; padding:10px 20px; border: none; cursor: pointer; margin-top:5%;}
#slider > .container > button:hover {color: #ec167f; background-color: #fff;}


/* 컨텐츠 */
#content {width:100%; background-color: #101010;}

/* section-countdown */
#section-countdown {width:100%; background:linear-gradient(to right, #ec167f, #883ff9);}
#section-countdown > .container {width:90%; height: 190px; margin: 0 auto; display: flex; justify-content: center; align-items: center;}
#section-countdown > .container > .itembox {width: 25%; text-align: center; display: flex; flex-direction: column;}
#section-countdown > .container > .itembox > span:nth-of-type(1) {font-size: 8vw; margin-bottom: 10px; color: #fff; }
#section-countdown > .container > .itembox > span:nth-of-type(2) {font-size: 3vw; color:#eee;}


/* section-about */
#section-about {width:100%; background-image: url("../img/box2-back-1.png"); background-size: cover; background-attachment: fixed; overflow: hidden; padding-bottom: 50px;}
#section-about > .container {width:90%;  margin: 0 auto; display: flex; flex-direction: column;}
#section-about > .container > .left-box {line-height: normal; width: 100%; margin:15% 0;}
#section-about > .container > .left-box > h2 {color:#fff; font-size: 32px;}
#section-about > .container > .left-box > p {color:#AAA; font-size: 15px; margin:30px 0 20px; padding-right: 50px;}
#section-about > .container > .left-box > button {font-size: 15px; color: #fff; background-color: #ec167f; padding: 10px 20px; border: none; cursor: pointer;}
#section-about > .container > .left-box > button:hover {color: #ec167f; background-color: #fff;}
#section-about > .container > .right-box {width:100%; position: relative; }
#section-about > .container > .right-box > img:nth-of-type(1) {position: absolute; width: 50%; height: 50%; top: 75%; left:-35%; z-index: 1;}
#section-about > .container > .right-box > img:nth-of-type(2) {position: absolute; width: 40%; height: 40%; right: -10%; bottom: -10%; z-index:3;}
#section-about > .container > .right-box > img:nth-of-type(3) {width:100%; z-index: 2; position: relative;}





/* section-features */
#section-features {width:100%;}
#section-features > .container {width:90%;  margin: 0 auto 50px; line-height: normal; text-align: center; display: flex; flex-direction: column; align-items: center; }
#section-features > .container > h2 {color: #fff; font-size: 32px; margin:130px 0 30px;}
#section-features > .container > .dot {color: #ec167f; font-size: 8px; margin-bottom:30px;}
#section-features > .container > .itembox {width:100%; display: flex; flex-flow: row wrap;}
#section-features > .container > .itembox > .item {width: 48%; margin: 5% 1%; position: relative;}
#section-features > .container > .itembox > .item:hover > .iconbox {background-color: #883ff9;}
#section-features > .container > .itembox > .item > .iconbox {width:80px; height: 80px;background-color: #ec167f; color:#fff; font-size: 35px; position: absolute; top: 0; left: 0; line-height: 75px; transition: 0.3s; border-radius: 5px;}
#section-features > .container > .itembox > .item > .textbox {margin-left: 100px; text-align: left;}
#section-features > .container > .itembox > .item > .textbox > h4 {color: #fff; font-size: 18px; margin-bottom: 10px;}
#section-features > .container > .itembox > .item > .textbox > p {color: #aaa; font-size: 12px;}





/* section-speakers */
#section-speakers {width:100%; background-image: url("../img/box4-back-1.jpg"); background-size: cover; background-attachment: fixed; line-height: normal;}
#section-speakers > .container {width:90%; margin: 0 auto; text-align: center; display: flex; flex-direction: column; align-items: center; }
#section-speakers > .container > h2 {color: #fff; font-size: 32px; margin:60px 0 30px;}
#section-speakers > .container > .dot {color: #ec167f; font-size: 8px; margin-bottom:30px;}
#section-speakers > .container > .itembox {width:100%; display: flex; flex-flow: row wrap;}
#section-speakers > .container > .itembox > .item {width:48%; overflow: hidden; margin:5% 1%;}
#section-speakers > .container > .itembox > .item > .imgbox {width:100%; height:100%; position: relative; overflow: hidden; z-index: 2; cursor: pointer; transition: 0.3s;}
#section-speakers > .container > .itembox > .item > .imgbox:hover > img {z-index: 0;} 
#section-speakers > .container > .itembox > .item > .imgbox > img {width:100%; position: relative; z-index: 1; transition: 0.3s;}
#section-speakers > .container > .itembox > .item > .imgbox > .textbox {width: 100%; height: 100%; background-color: #111; text-align: left; padding:40px; position: absolute; top: 0; left: 0;}
#section-speakers > .container > .itembox > .item > .imgbox > .textbox > h4 {color: #fff; font-size: 20px;}
#section-speakers > .container > .itembox > .item > .imgbox > .textbox > span {color: #ec167f; font-size: 15px;}
#section-speakers > .container > .itembox > .item > .imgbox > .textbox > .separate {border-top: 1px solid #aaa; width:20%; margin-top: 20px;}
#section-speakers > .container > .itembox > .item > .imgbox > .textbox > p {color: #aaa; font-size: 15px; margin: 20px 0;}
#section-speakers > .container > .itembox > .item > .imgbox > .textbox > .sns > a {color: #fff; font-size: 15px; padding-right: 10px;}
#section-speakers > .container > .itembox > .item > .imgbox > .textbox > .sns > a:hover {color: #ec167f;}




/* section-schedule */
#section-schedule {width:100%; background-image: url("../img/box5-back-1.png"); background-size: cover; background-attachment: fixed; line-height: normal; padding-bottom: 50px;}
#section-schedule > .container {width:90%; margin: 0 auto; text-align: center; display: flex; flex-direction: column; align-items: center;}
#section-schedule > .container > h2 {color: #fff; font-size: 32px; margin:60px 0 30px;}
#section-schedule > .container > .dot {color: #ec167f; font-size: 8px; margin-bottom:30px;}
#section-schedule > .container > .itembox {width:100%;}
#section-schedule > .container > .itembox > ul {display: flex; flex-direction: column;}
#section-schedule > .container > .itembox > ul > li {padding:15px 30px; background-color: #202020; cursor: pointer; border: 1px solid #101010;}
#section-schedule > .container > .itembox > ul > li:nth-of-type(1) {border-radius: 5px 0 0 5px;}
#section-schedule > .container > .itembox > ul > li:nth-of-type(5) {border-radius: 0 5px 5px 0;}
#section-schedule > .container > .itembox > ul > .current {background-color: #ec167f; color: #fff;}
#section-schedule > .container > .itembox > ul > .current > h3 > span {color: #fff;}
#section-schedule > .container > .itembox > ul > .current > h4 {color: #fff;}
#section-schedule > .container > .itembox > ul > li > h3 {font-size: 22px; color:#fff;}
#section-schedule > .container > .itembox > ul > li > h3 > span {color:#ec167f;}
#section-schedule > .container > .itembox > ul > li > h4 {font-size: 12px; color:#aaa;}
#section-schedule > .container > .itembox > .tabs {width:100%; margin-top: 50px;}
#section-schedule > .container > .itembox > .tabs > .tab {width:100%;}
#section-schedule > .container > .itembox > .tabs > .tab > .item {display: flex; overflow: hidden; padding: 15px 0; flex-wrap: wrap;}
#section-schedule > .container > .itembox > .tabs > .tab > .item:nth-of-type(2n) {background-color: rgba(102,102,102,0.1);} 
#section-schedule > .container > .itembox > .tabs > .tab > .item:hover > .sc-img > img {border: 5px solid #ec167f;}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-time {width:100%; font-size: 14px; color: #aaa; line-height: 90px; text-align: left;}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-img {width:120px; overflow: hidden; text-align: left;}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-img > img {width:90px; height: 90px; border-radius: 50%; border: 5px solid rgba(0,0,0,0);}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-name {text-align: left;}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-name > h4 {color: #fff; font-size: 14px; line-height: 50px;}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-name > p {color: #ec167f; font-size: 12px; }
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-info {width: 100%; text-align: left; margin-top: 3%;}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-info > h3 {color: #fff; font-size: 18px; margin-bottom: 10px;}
#section-schedule > .container > .itembox > .tabs > .tab > .item > .sc-info > p {color: #aaa; font-size: 12px;}

#section-schedule > .container > .itembox > .tabs > .tab2 {display: none;}
#section-schedule > .container > .itembox > .tabs > .tab3 {display: none;}
#section-schedule > .container > .itembox > .tabs > .tab4 {display: none;}
#section-schedule > .container > .itembox > .tabs > .tab5 {display: none;}




/* section-ticket */
#section-ticket {width:100%; background-image: url("../img/box6-back-1.jpg"); background-size: cover; background-attachment: fixed; line-height: normal; padding-bottom: 50px;}
#section-ticket > .container {width:90%; margin: 0 auto; text-align: center; display: flex; flex-direction: column; align-items: center;}
#section-ticket > .container > h2 {color: #fff; font-size: 32px; margin:60px 0 30px;}
#section-ticket > .container > .dot {color: #ec167f; font-size: 8px; margin-bottom:30px;}
#section-ticket > .container > .itembox {width: 100%; display: flex; flex-flow: row wrap;}
#section-ticket > .container > .itembox > .item {width: 48%; background-color: #000; position: relative; overflow: hidden; margin:0 1% 10%;}
#section-ticket > .container > .itembox > .item > .ribbon {position: absolute; top:22px; left:-55px; background-color: #883ff9; color: #fff; font-size: 15px; width: 200px; padding:10px; transform: rotate(-45deg); font-weight: bold;}
#section-ticket > .container > .itembox > .item > .item-top {padding:40px;}
#section-ticket > .container > .itembox > .item > .item-top > h3 {color:#fff; font-size: 24px; margin-bottom: 20px;}
#section-ticket > .container > .itembox > .item > .item-top > p {color:#fff; font-size: 48px;}
#section-ticket > .container > .itembox > .item > .item-top > p > span {color:#ec167f;}
#section-ticket > .container > .itembox > .item > .item-bot > ul {text-align: left;}
#section-ticket > .container > .itembox > .item > .item-bot > ul > li {color:#fff; font-size: 15px; padding: 20px 30px;}
#section-ticket > .container > .itembox > .item > .item-bot > ul > li:nth-of-type(odd) {background-color: #202020;}
#section-ticket > .container > .itembox > .item > .item-bot > ul > li > span {color:#ec167f;}
#section-ticket > .container > .itembox > .item > button {background-color:#ec167f; color: #fff; padding: 10px 20px; border-radius: 5px; border:none; cursor: pointer; margin: 40px;} 
#section-ticket > .container > .itembox > .item > button:hover {background-color:#fff; color: #ec167f;} 






/* section-sponsors */
#section-sponsors {width:100%; background-image: url("../img/box7-back-1.png"); background-size: cover; background-attachment: fixed; line-height: normal;}
#section-sponsors > .container {width:90%; margin: 0 auto; text-align: center; display: flex; flex-direction: column; align-items: center;}
#section-sponsors > .container > h2 {color: #fff; font-size: 32px; margin:60px 0 30px;}
#section-sponsors > .container > .dot {color: #ec167f; font-size: 8px; margin-bottom:30px;}
#section-sponsors > .container > .itembox {width:100%;}
#section-sponsors > .container > .itembox > h3 {width:100%; font-size: 18px; color:#fff; margin-bottom:30px;}
#section-sponsors > .container > .itembox > .logobox {width:100%; display: flex; flex-wrap: wrap; margin-bottom: 70px; justify-content: center;}





/* section-testimonials */
#section-testimonials {width:100%; line-height: normal; padding-bottom: 50px;}
#section-testimonials > .container {width:90%; margin: 0 auto; text-align: center; display: flex; flex-direction: column; align-items: center;}
#section-testimonials > .container > h2 {color: #fff; font-size: 32px; margin:60px 0 30px;}
#section-testimonials > .container > .dot {color: #ec167f; font-size: 30px; margin-bottom:30px;}
#section-testimonials > .container > .itembox {color: #ec167f; font-size: 30px; margin-bottom:30px;}
#section-testimonials > .container > .itembox > h4 {color: #fff; font-size: 22px; margin-bottom:30px;}
#section-testimonials > .container > .itembox > p {color: #fff; font-size: 18px; padding:0 0px 30px;}
#section-testimonials > .container > .itembox > span {color: #fff; font-size: 14px; padding-bottom:30px;}




/* section-portfolio */
#section-portfolio {width:100%;}
#section-portfolio > .container {width:100%; margin: 0 auto; display: flex; flex-wrap: wrap;}
#section-portfolio > .container > .imgbox {width:50%; position: relative; overflow: hidden; z-index: 1; transition: 0.3s; cursor: pointer;}
#section-portfolio > .container > .imgbox:hover > .textbox {opacity: 1;}
#section-portfolio > .container > .imgbox:hover > img {opacity: 0.4; transform: scale(1.1);}
#section-portfolio > .container > .imgbox > img {width:100%; transition: 0.3s;}
#section-portfolio > .container > .imgbox > .textbox {width:100%; color: #ec167f; position: absolute; top:50%; text-align: center; opacity: 0; transition: 0.3s; font-size: 18px; font-weight: bold;}





/* section-register */
#section-register {width:100%; padding-bottom: 100px;}
#section-register > .container {width:90%; margin: 0 auto; text-align: center; display: flex; flex-direction: column; align-items: center;}
#section-register > .container > h2 {color: #fff; font-size: 32px; margin:60px 0 30px;}
#section-register > .container > .dot {color: #ec167f; font-size: 8px; margin-bottom:30px;}
#section-register > .container > form {width:90%; margin:0 auto;}
#section-register > .container > form > fieldset {display: flex; margin:0 auto; width: 100%; flex-direction: column;}
#section-register > .container > form > fieldset > .form-left {display: flex; flex-direction: column; width:100%; justify-content: space-between; margin:1%;}
#section-register > .container > form > fieldset > .form-left > input {height:46px; border: 1px solid rgba(0,0,0,0.3); padding:10px; color:#eee; background-color: rgba(0,0,0,0.2); margin-bottom: 5%;}
#section-register > .container > form > fieldset > .form-right {width:100%; margin:1%;}
#section-register > .container > form > fieldset > .form-right > textarea {width:100%; height: 178px; border: 1px solid rgba(0,0,0,0.3); padding:10px; color:#eee; background-color: rgba(0,0,0,0.2);}
#section-register > .container > form > input {width:45%; padding:10px 20px; margin-top: 30px; background-color:#ec167f; color: #fff; border-radius: 5px; border:none; cursor: pointer;}
#section-register > .container > form > input:hover {background-color:#fff; color: #ec167f;}





/* section-call-to-action */
#section-call-to-action {width:100%; background: linear-gradient(to right, #ec167f, #883ff9);}
#section-call-to-action > .container {width:90%; margin: 0 auto; display: flex; flex-direction: column; text-align: center;}
#section-call-to-action > .container > .left-box > h3 {color:#fff; font-size: 24px; margin: 10% 0;}
#section-call-to-action > .container > .right-box > button {background-color:#ec167f; color: #fff; border-radius: 5px; border:none; cursor: pointer; padding:10px 20px; margin-bottom: 10%;}
#section-call-to-action > .container > .right-box > button:hover {background-color:#fff; color: #ec167f;}





/* section-fun-facts */
#section-fun-facts {width:100%; background-image: url("../img/box12-back-1.jpg"); background-size: cover; background-attachment: fixed; line-height: normal; padding: 50px 0;}
#section-fun-facts > .container {width:90%; margin: 0 auto; display: flex; flex-flow: row wrap; align-items: center;}
#section-fun-facts > .container > .itembox {width:50%; text-align: center; margin-bottom: 10%;}
#section-fun-facts > .container > .itembox > div {color: #883ff9; font-size: 65px;}
#section-fun-facts > .container > .itembox > h3 {color:#fff; font-size: 40px; margin:15px;}
#section-fun-facts > .container > .itembox > p {color:#fff; font-size: 15px;}




