@charset "utf-8";

/* 서브 슬라이더 */
#subSlider {width:100%; background-image: url("../img/sub-slide-4.jpg"); background-size: cover; height:400px; background-repeat: no-repeat; background-position: center;}
.overlay {width:100%; height:100%; background-color: rgba(0, 0, 0, 0.5);}
.overlay > .sliderbox {height:100%; margin: 0 auto; display: flex; justify-content: center; align-items: center; position: relative;}
.overlay > .sliderbox > .textbox {text-align: center; }
.overlay > .sliderbox > .textbox > h2 {font-size: 40px; color: #fff; margin: 20px 0;}
.overlay > .sliderbox > .textbox > h4 {font-size: 18px; font-style: italic; color: rgba(255, 215, 0, 0.8);}
.overlay > .sliderbox > .textbox > .dot {font-size: 12px; color: rgba(255, 215, 0, 0.8); }



/* 컨테이너 */
#containers {margin:50px auto; display: flex; justify-content: space-between;}



/* 컨테이너1 */

#container1 > .content {width:100%; }
.content > h2 {font-size: 29px;}
.content > p {font-size: 12px; margin:15px 0;}
.content > .dot {font-size: 10px; color: gold; margin-bottom: 15px;}
.content > .imgbox {width:100%; overflow: hidden;}
.content > .imgbox > img {width:100%;}
.content > .textbox {width:100%; margin-top: 10px;}
.content > .textbox > .tagbox {display: flex; align-items: center;}
.content > .textbox > .tagbox > span {margin-right: 15px; font-weight: bold; font-size: 13px;}
.content > .textbox > .tagbox > ul {display: flex; font-size: 13px; text-align: center;}
.content > .textbox > .tagbox > ul > li {padding:8px 12px; background-color: #f2f2f2; margin-right: 5px; cursor: pointer;}
.content > .textbox > .tagbox > ul > li:hover > a {color:gold ;}
.content > .textbox > .tagbox > ul > li > a {color: #666; font-style: italic; }
.content > .textbox > p {margin:10px 0; font-size: 13px; line-height: normal;}
.content > .textbox > .btnbox {display: flex; justify-content: space-between; align-items: center; margin-top: 15px;}
.content > .textbox > .btnbox > button {background-color: gold; border: none; padding:10px 25px; cursor: pointer; font-weight: bold;}
.content > .textbox > .btnbox > button:hover {background-color: #1f1f1f; color: #fff;}
.content > .textbox > .btnbox > ul {display: flex; background-color: #f9f9f9; border: 1px solid #eee;}
.content > .textbox > .btnbox > ul > li {padding: 10px 20px; font-size: 12px;}




/* 컨테이너2 */


/* search */
#container2 > .search {width:100%; height:80px; background-color: #f9f9f9; margin-bottom: 5%; display: flex; align-items: center; justify-content: center; border: 1px solid #eee;}
.search > form {width: 90%; height:45px; display: flex;}
.search > form > input {height:45px; width: 75%; border: 1px solid #eee; outline: none; padding:0 10px;}
.search > form > button {height:45px; width: 25%; background-color: gold; border: none; cursor: pointer; color: #fff;}



/* aboutUs */
#container2 > .aboutUs {width:100%; }
.aboutUs > h3 {font-size: 18px; font-weight: bold; background-color: #f9f9f9; border:1px solid #eee; padding: 15px 10px; text-align: center; margin-bottom: 15px;}
.aboutUs > .itembox {width:100%; overflow: hidden;}
.aboutUs > .itembox > img {width:100%;}
.aboutUs > .itembox > h4 {font-size: 18px; margin:10px 0;}
.aboutUs > .itembox > p {font-size: 13px; line-height: normal;}



/* posts */
#container2 > .posts {width:100%;}
.posts > h3 {font-size: 18px; font-weight: bold; background-color: #f9f9f9; border:1px solid #eee; padding: 15px 10px; text-align: center; margin-bottom: 15px;}
.posts > .itembox > ul > li {display: flex; align-items: center; margin-bottom: 30px;}
.posts > .itembox > ul > li > .imgbox {width: 20%; overflow: hidden; margin-right: 30px;}
.posts > .itembox > ul > li > .imgbox > a > img {width: 100%;}
.posts > .itembox > ul > li > .textbox > h4 {font-size: 14px; padding-bottom: 6px;}
.posts > .itembox > ul > li > .textbox > h4 > a {color:#000;}
.posts > .itembox > ul > li > .textbox > p > span {font-size: 11px; font-style: italic;}
.posts > .itembox > ul > li > .textbox > p > a {font-size: 12px; color: #000; font-weight: bold;}




/* tags */
#container2 > .tags {width:100%;}
.tags > h3 {font-size: 18px; font-weight: bold; background-color: #f9f9f9; border:1px solid #eee; padding: 15px 10px; text-align: center; margin-bottom: 15px;}
.tags > .tagbox {display: flex; width:100%;}
.tags > .tagbox > ul {width:100%; display: flex; flex-flow: row wrap; }
.tags > .tagbox > ul > li {display: flex; }
.tags > .tagbox > ul > li > a {padding:12px 15px; font-size: 11px; margin:0 4px 4px 0; background-color: gold; color: #000; font-style: italic;}
.tags > .tagbox > ul > li > a:hover {background-color: #1f1f1f; color: #fff;}



/* categories */
#container2 > .categories {width:100%;}
.categories > h3 {font-size: 18px; font-weight: bold; background-color: #f9f9f9; border:1px solid #eee; padding: 15px 10px; text-align: center; margin-bottom: 5px;}
.categories > .catebox > ul > li {font-size: 14px; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center; position: relative;}
.categories > .catebox > ul > li::before {content: ''; position: absolute; bottom: 0; left: 0; right: 50px; border-top: 1px dotted #ccc; }
.categories > .catebox > ul > li > a {color:#000; padding-right: 40px; position: relative; }
.categories > .catebox > ul > li > a:hover {color:gold; }
.categories > .catebox > ul > li > span {font-size: 10px; padding:5px 7px; background-color: gold; border-radius: 50%; width:20px; height:20px;}


/* social */
#container2 > .social {width:100%;}
.social > h3 {font-size: 18px; font-weight: bold; background-color: #f9f9f9; border:1px solid #eee; padding: 15px 10px; text-align: center; margin-bottom: 15px;}
.social > .socialbox > ul {display: flex; }
.social > .socialbox > ul > li {display: flex; margin-right: 15px; align-items: center;}
.social > .socialbox > ul > li > a {width:24px; height:24px; background-color: #1f1f1f; color: #eee; text-align: center; line-height: 24px; font-size: 12px;}
.social > .socialbox > ul > li > a:hover {color: gold; }



@media (max-width:1099px) {
  .overlay > .sliderbox {width:100%;}
  #containers {flex-direction: column; width:100%; }
  #container1 {width:90%; margin:0 auto; height:auto;}
  #container1 > .content {margin-bottom: 100px;}
  #container2 {width:90%; margin:0 auto; }
  #container2 > .aboutUs {margin-bottom: 10%;}
  #container2 > .posts {margin-bottom: 10%;}
  #container2 > .tags {margin-bottom: 10%;}
  #container2 > .categories {margin-bottom: 10%;}
  #container2 > .social {margin-bottom: 10%;}
}


@media (min-width:1100px) {
  .overlay > .sliderbox {width:1200px;}
  #containers {flex-direction: row; width:1200px; height: 3500px;}
  #container1 {width:65%; height: 95%; height:800px;}
  #container1 > .content {margin-bottom: 10%;}
  #container2 {width:30%; height: 85%; }
  #container2 > .aboutUs {height:460px; margin-bottom: 5%;}
  #container2 > .posts {height:340px; margin-bottom: 5%;}
  #container2 > .tags {height:180px; margin-bottom: 5%;}
  #container2 > .categories {height:300px; margin-bottom: 5%;}
  #container2 > .social {height:100px; margin-bottom: 5%;}
}