@charset "utf-8";

/* 푸터 */
#footerwrap {width:100%; background-color: black; line-height: normal;}
footer {margin: 0 auto; display: flex; }
footer > .copyright {color:#ccc;}
footer > .copyright > span {color:#ec167f;}
footer > .sns > ul {display: flex;}
footer > .sns > ul > li > a {color:#ccc; padding:5px 9px;}
footer > .sns > ul > li > a:hover {background-color:#ec167f; color: #000; border-radius: 2px;}

@media (max-width:599px) {
  footer {width: 90%; flex-direction: column;}
  footer > .logo {margin:10% 0;}
  footer > .copyright {margin-bottom: 10%;}
  footer > .sns {margin-bottom: 10%;}
}

@media (min-width:600px) and (max-width:1099px) {
  footer {width:90%; height: 200px; justify-content: space-between; align-items: center;}
  footer > .copyright {margin:0 5%;}
  footer > .sns > ul {flex-wrap: wrap;}
  footer > .sns > ul > li {margin: 5% 0;}
}

@media (min-width:1100px) {
  footer {width:1200px; height: 200px; justify-content: space-between; align-items: center;}
}