@charset "utf-8";

/* 푸터 */
footer {width:100%;}

.footer_top {width:100%; background-color: #8b8b8b;}
.footer_top > ul {display: flex; width: 1100px; margin: 0 auto; justify-content: space-between;}
.footer_top > ul > li > a {padding:16px 14px; display: block; color: #eee;}
.footer_top > ul > li:hover > a {color: #fff;}
.footer_top > ul > .family_site {position: relative; background-color: #6d6d6d; width: 135px;}
.footer_top > ul > .family_site > ul {position: absolute; bottom:44px; left:0; background-color: #fff; border: 1px solid #000; display: none; width: 135px;}
.footer_top > ul > .family_site > ul > li > a {padding: 6px; display: block;}
.footer_top > ul > .family_site > ul > li:hover {background-color: #eee;}


/* 로고 */
.footer_mid {width:1100px; margin:21px auto 0;}


/* 푸터 최하단 박스 2개 */
.footer_bottom {width:1100px; margin:20px auto 30px; display: flex; justify-content: space-between;}
.footer_bottom > .left {width:49%; }
.footer_bottom > .left > span {font-size: 12px; padding-bottom: 5px; display: inline-block;}
.footer_bottom > .left > span > a:hover {color:blue;}
.footer_bottom > .left > p {font-size: 13px; margin-top: 10px;}


.footer_bottom > .right {width:49%;}
.footer_bottom > .right > span {font-size: 12px; padding-bottom: 5px; display: inline-block;}
.footer_bottom > .right > span > a:hover {color:blue;}
.footer_bottom > .right > div {display: flex; }
.footer_bottom > .right > div > a > span {font-size: 12px; padding:10px 5px; display: inline-block;}
.footer_bottom > .right > div > div > span {font-size: 12px; padding: 10px; margin-left: 60px;}