@charset "utf-8";

#wrap {width:100%;}
a {color:#000; font-size: 12px;}

/* TOP 버튼 */
#topBtn {display: none; position: fixed; bottom: 70px; right: 30px; font-size: 16px; border:none; background-color: #ccc; color:#fff; cursor:pointer; padding:10px; border-radius: 5px; z-index: 99;}
#topBtn:hover {background-color: #5e6b9e;}
#botBtn {display: none; position: fixed; bottom: 30px; right: 30px; font-size: 16px; border:none; background-color:#ccc; color:#fff; cursor:pointer; padding:10px; border-radius: 5px; z-index: 99;}
#botBtn:hover {background-color: #5e6b9e;}

/* 헤더 */
header {width:100%; margin:0 auto;}

/* 최상단 배너 */
.header_banner {width: 100%; height:65px; background: linear-gradient(to right, rgb(202, 244, 231),rgb(255, 227, 209));}
.header_banner > .imgbox {width:1100px; height:100%; margin:0 auto; text-align: center;}
.header_banner > .imgbox > button {width:20px; height:20px; margin: 21px 0 0 10px; cursor: pointer; line-height: 18px; float: right;}



/* 유저 메뉴 */
.header_userMenu {width: 1100px; height:30px; margin:0 auto; display: flex; position: relative;}

/* 바로콘 */
.barocon > li {padding:10px 0 0 0; position: relative;}
.barocon > li > a > img {margin-top: 2px;}
.barocon > li > .barocon_none {border: 1px solid #000; position: absolute; top:30px; left:0; width:220px; padding:10px; background-color: #fff; display: none;}
.barocon_none > p {font-size: 12px; color: red; font-weight: bold;}
.barocon_none > a:hover {color:blue;}


/* 안내 */
.guide {margin:0 0 0 20px;}
.guide > li {float:left; padding:10px 20px 10px 0;}
.guide > li:hover > a {color:blue;}

.guide > .store {position: relative;}
.guide > .store > ul {position: absolute; width: 150px; height: 376px; top:30px; background-color: #fff; z-index: 1; border: 1px solid #000; display: none;}
.guide > .store > ul:not(:last-of-type) {border-right: 1px solid #ccc;}
.guide > .store > ul > li:first-of-type {font-size: 12px; font-weight: bold; text-align: center; padding: 5px; background-color: #ddd;}
.guide > .store > ul > li:hover > a {background-color: #eee;}
.guide > .store > ul > li > a {display: block; padding:5px;}
.guide > .store > .seoul {left:0; border-right: none;}
.guide > .store > .gyeonggi {left:150px; border-right:none; border-left: none;}
.guide > .store > .other {left:300px; border-left: none;}

.guide > .benefits {position: relative;}
.guide > .benefits > .benefits_none {position:absolute; width:125px; top:30px; left:0; background-color: #fff; border: 1px solid #000; z-index: 1; display: none;}
.guide > .benefits > ul > li > a {display: block; padding:10px;}
.guide > .benefits > ul > li > a:hover {background-color: #eee;}


/* 로그인 */
.login {position:absolute; top:0; right: 2px;}
.login > li {float:left; padding:10px 0 0 20px;}
.login > li > a:hover {color:blue;}
.login > .login_btn > a {border: 1px solid #ddd; padding:4px 5px 1px; background-color: #fff;}



/* 검색창 부분 */
.header_search {width: 1100px; height:120px; margin:0 auto; display: flex; justify-content: space-between;}
.logo {width:175px; height:49px; padding-top: 40px;}

.search {position: relative;}
.top_searched {width:500px; padding:20px 0 10px 10px;}
.top_searched > ul {display: flex;}
.top_searched > ul > li {padding:0 12px 0;}
.top_searched > ul > li:not(:last-of-type) { border-right: 1px solid #ccc;}
.top_searched > ul > li > a:hover {color:blue;}


.search > span {border: 1px solid #ccc; padding:0 2px; line-height: 10px; cursor: pointer; position: absolute; top:22px; display: block; padding: 1px 3px 2px; font-size: 14px;}
.search > span:hover {border: 1px solid #000;}
.search > .prev {right:29px;}
.search > .next {right:10px;}


.search_bar {width:500px; height: 44px; border: 3px solid skyblue; border-radius: 15px; position: relative; background-color: #fff;}
.search_bar > input {width:440px; height:38px; outline: none; border:none; margin-left: 20px;}
.search_bar > span {color: skyblue; font-size: 22px; cursor: pointer; position: absolute; top:6px; right: 5px;}


.search_ad {width:220px; height:64px; margin-top: 27px; position: relative; overflow: hidden;}
.search_ad > ul {width:880px; height:64px;}
.search_ad > ul > li {width:220px; height:100%; float:left;}
.search_ad > ul > li > img {width:100%; height:100%;}

.search_ad > span {position:absolute; bottom: 0; border: 1px solid #ccc; padding:0 2px; background-color: #fff;}
.search_ad > span:hover {border:1px solid #000;}

.search_ad > .prev {right: 18px; cursor: pointer;}
.search_ad > .next {right:0px; cursor: pointer;}


/* 네비게이션 */
nav {width: 100%; height:50px; background-color: #5e6b9e;}
.nav_bar {width: 1100px; height: 50px; position: relative; margin:0 auto; display: flex; justify-content: space-between;}

.nav_main {display: flex; height: 50px; margin-left: 50px;}
.nav_main > li > a {padding:17px 10px; font-size: 16px; color: #fff; font-weight: bold; display: inline-block;}
.nav_main > li:hover {background-color: #fff;}
.nav_main > li:hover > a {color: #5e6b9e;}

.nav_main > li > ul {position: absolute; top:50px; left:0; background-color: #fff; width: 100%; display: none; z-index: 1;}
.nav_main > li > ul > li > a {display: block; padding: 10px;}
.nav_main > li > ul > li > a:hover {background-color: #eee;}

.nav_main > .ebook {position: relative;}
.nav_main > .gift {position: relative;}
.nav_main > .record {position: relative;}
.nav_main > .more {position: relative;}





.nav_sub {display: flex; height: 50px; float: right;}
.nav_sub > li > a {color:#d8dbe8; font-weight: bold; display: inline-block; padding:20px 9px 18px;}
.nav_sub > li > a:hover {color: #fff;}


.nav_more {position: absolute; top:0; left:0;}
.nav_more > span {display:inline-block; width:50px; height:50px; background-color: #353f67; color:#fff; font-weight: bold; font-size: 25px; display: flex; justify-content: center; align-items: center; cursor: pointer;}