@charset "utf-8";

/* 슬라이드 */
#slider {width:100%; height: 430px;}
.slider_box {width:1100px; height: 430px; background-color: yellow; margin: 0 auto;}
.slider_left {width:700px; height: 370px; background-color: green; float: left;}
.slider_right {width:400px; height: 370px; background-color: blue; float: left;}


/* 컨테이너 */
#container {width:100%; background-color: #ccc;}


/* 슬라이드 아래 배너1 */
.slide_bottom1 {width: 100%;  background-color: #f9f9f9; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada;}
.slide_bottom1 > .itembox {width: 1100px; height: 130px; margin:0 auto; display: flex; justify-content: space-between; border-bottom: 1px solid #dadada;}
.slide_bottom1 > .itembox > .imgbox {width: 34%; height: 130px;}
.slide_bottom1 > .itembox > .imgbox:nth-of-type(2) {border-left:1px solid #dadada; border-right:1px solid #dadada}
.slide_bottom1 > .itembox > .imgbox > a > img {width:100%; height:100%;}


/* 슬라이드 아래 배너2 */
.slide_bottom2 {width: 100%; border-bottom: 1px solid #dadada; background-color: #fff;}
.slide_bottom2 > .itembox {width: 1100px; height: 55px; margin:0 auto; display: flex; justify-content: space-between;}
.slide_bottom2 > .itembox > .imgbox {width: 34%; height: 55px;}
.slide_bottom2 > .itembox > .imgbox:nth-of-type(2) {border-left:1px solid #dadada; border-right:1px solid #dadada}
.slide_bottom2 > .itembox > .imgbox > a > img {width:100%; height:100%;}


/* 오늘의 책 */
.today_book {width:100%; height:355px; margin-top: 50px;}
.today_book > .item {width:1100px; height:355px; background-color: yellowgreen; margin:0 auto; position: relative;}
.today_book > .item > .left {width:634px; height:355px; background-color: pink; float: left;}
.today_book > .item > .right {width:466px; height:355px; background-color: white; float: left;}

.today_book > .item > .adv {width:85px; height:704px; background-color:cadetblue; position: absolute; top:0; left:-100px;}


/* 화제의 신간 */
.box4 {width:100%; height:350px; margin-top: 50px;}
.box4 > .item {width: 1100px; height:350px; background-color: bisque; margin:0 auto;}
.box4 > .item > .itembox {width: 1100px; height:310px; background-color: violet; display: flex; justify-content: space-between;}
.box4 > .item > .itembox > .imgbox {width: 24%; height:310px; background-color: red; }


/* ㅇㅇㅇ님을 위한 Picks 추천 샘플 */
.box5 {width:100%; height:400px; margin-top: 50px;}
.box5 > .item {width:1100px; height:400px; margin: 0 auto; background-color: brown;}
.box5 > .item > .itembox {width: 1100px; height: 310px; display: flex; justify-content: space-between;}
.box5 > .item > .itembox > .imgbox {width:24%; height:310px; background-color: yellow;}
.box5 > .item > .keyword_pick {width:1100px; height:50px; background-color: green;}


/* only 교보문고 */
.box6 {width:100%; height:110px; margin-top: 50px;}
.box6 > .item {width: 1100px; height: 110px; background-color: pink; margin: 0 auto;}


/* 지금 뜨는 hot템 */
.box7 {width:100%; height:300px; margin-top: 50px;}
.box7 > .item {width:1100px; height:300px; margin:0 auto; background-color: yellowgreen;}


/* 이럴 땐 이런 책 */
.box8 {width:100%; height:360px; margin-top: 50px;}
.box8 > .item {width:1100px; height:360px; margin:0 auto; background-color: tomato;}
.box8 > .item > .itembox {width:1100px; height:325px; background-color: tomato; display: flex; justify-content: space-between;}
.box8 > .item > .itembox > .imgbox {width:24%; height:325px; background-color: yellow;}


/* 스토리 : k */
.box9 {width:100%; height:875px; margin-top: 50px;}
.box9 > .item {width:1100px; height:875px; margin:0 auto; background-color: teal;}
.box9 > .item > ul {display: flex; flex-flow: row wrap;}
.box9 > .item > ul > li {width: 25%; height: 280px; border: 1px solid black;}


/* 베스트셀러 */
.box10 {width: 100%; height: 650px; margin-top: 50px;}
.box10 > .item {width:1100px; height:650px; background-color:blanchedalmond; margin: 0 auto;}
.box10 > .item > .itembox > .left {width:750px; height: 510px; background-color: aqua; float: left;}
.box10 > .item > .itembox > .right {width:350px; height: 510px; background-color: blueviolet; float: right;}


/* 이주의 책 */
.box11 {width:100%; height:310px; margin-top: 50px;}
.box11 > .item {width:1100px; height:310px; background-color: red; margin: 0 auto;}
.box11 > .item > .itembox {width:100%; height:270px; display: flex; justify-content: space-between;}
.box11 > .item > .itembox > .imgbox {width: 16%; height: 270px;background-color: yellow;}


/* 클릭! 실시간 추천 */
.box20 {width:100%; margin-top: 50px;}
.box20 > .itembox {width:1100px; height:360px; margin:0 auto; background-color: aqua;}
.box20 > .itembox > .imgbox {display: flex; justify-content: space-between;}
.box20 > .itembox > .imgbox > .left {width:220px; height:325px; background-color: red;}
.box20 > .itembox > .imgbox > .right {width:800px; height:325px; background-color: blue;}
.box20 > .itembox > .imgbox > .right > ul {width:800px; height:320px; display: flex; justify-content: space-between; align-items: center;}
.box20 > .itembox > .imgbox > .right > ul > li {width:22%; height: 250px;background-color: yellow;}


/* Klover 평점 좋은 책 */
.box12 {width:100%; height:510px; margin-top: 50px;}
.box12 > .item {width:1100px; height:510px; background-color: orange; margin:0 auto;}
.box12 > .item > .itembox {display: flex; justify-content: space-between;}
.box12 > .item > .itembox > .left {width:220px; height:410px; background-color: bisque;}
.box12 > .item > .itembox > .right {width:800px; height:410px; background-color:blueviolet;}
.box12 > .item > .itembox > .right > ul {width:800px; height:410px; display: flex; justify-content: space-between; align-items: center;}
.box12 > .item > .itembox > .right > ul > li {width:22%; height: 310px;background-color: yellow;}


/* 감성메이커 */
.box13 {width:100%; height:370px; margin-top: 50px;}
.box13 > .item {width:1100px; height:370px; background-color: yellow; margin: 0 auto;}
.box13 > .item > ul {width:1100px; height:270px; display: flex; justify-content: space-between; }
.box13 > .item > ul > li {width:24%; height:270px; background-color: aqua;}

