@charset "utf-8";

#purchase {width:1100px; margin:0 auto 50px; position: relative;}
    /* 경로 바 */
#purchase > .path_bar {width:100%; height:50px; margin-bottom: 50px;  border-bottom: 1px solid #ddd}
#purchase > .path_bar > ul {display: flex; align-items: center; height: 100%;}
#purchase > .path_bar > ul > li {margin-right: 10px;}
#purchase > .path_bar > ul > li > a {font-size: 14px; display: block; padding:5px 7px;}
#purchase > .path_bar > ul > .box {border: 1px solid #ccc; position: relative;}
#purchase > .path_bar > ul > .box > ul {position: absolute; top:26px; left:0; background-color: #fff; border: 1px solid #000; width:100%; display: none; }
#purchase > .path_bar > ul > .box > ul > li > a {display: block; padding:5px 10px;}
#purchase > .path_bar > ul > .box > ul > li > a:hover {background-color: #dadada;}
#purchase > .path_bar > ul > .novel > ul {width:150px; height: 225px;}
#purchase > .path_bar > ul > .novel > ul:first-of-type {border-right: none;}
#purchase > .path_bar > ul > .novel > ul:nth-of-type(2) {left:150px; }
#purchase > .path_bar > ul > .novel > ul:nth-of-type(3) {left:300px; }
#purchase > .path_bar > ul > .novel1 > ul:nth-of-type(2) {border-right: none; }

    /* 아이템 박스 */
#purchase > .itembox {width:100%; height:700px;}
        /* 왼쪽 부분 */
#purchase > .itembox > .left {width:20%; height:100%; float: left;}
#purchase > .itembox > .left > .cover {width:100%; height: 385px;}
#purchase > .itembox > .left > .cover > a > img {width:100%; }
#purchase > .itembox > .left > .cover > div {margin: 10px 0; display: flex; justify-content: space-around;}
#purchase > .itembox > .left > .cover > div > a {font-size: 13px; padding:5px 20px; }
#purchase > .itembox > .left > .cover > div > a:hover {color: blue; text-decoration: underline;}
#purchase > .itembox > .left > .store {border: 1px solid #ccc; font-size: 13px; text-align: center; padding:10px 0; width:100%; height:35px; cursor: pointer;}
#purchase > .itembox > .left > .store > span {color: red;}
#purchase > .itembox > .left > .store:hover {border: 1px solid #5e6b9e;}
#purchase > .itembox > .left > .keyword {width:100%; margin:20px 0; border: 1px solid #ccc; padding:15px;}
#purchase > .itembox > .left > .keyword > span:first-of-type {font-weight: bold; font-size: 13px;}
#purchase > .itembox > .left > .keyword > span:last-of-type {font-size: 13px; float: right; border: 1px solid #ccc; padding:3px 6px; cursor: pointer;}
#purchase > .itembox > .left > .keyword > ul {display: flex; flex-flow: row wrap; margin-top: 15px;}
#purchase > .itembox > .left > .keyword > ul > li {border: 1px solid #ccc; border-radius: 15px; margin:0 10px 5px 0;}
#purchase > .itembox > .left > .keyword > ul > li > a {padding:5px 10px; display: block;}
#purchase > .itembox > .left > .keyword > ul > li:hover {background-color: #5e6b9e; border: 1px solid #5e6b9e;}
#purchase > .itembox > .left > .keyword > ul > li:hover > a {color: #fff;}
#purchase > .itembox > .left > .etc {width:100%; height:90px; border: 1px solid #ccc;}
#purchase > .itembox > .left > .etc > ul > li:first-of-type {text-align: center; padding:6px 10px;font-size: 13px;}
#purchase > .itembox > .left > .etc > ul > li:nth-of-type(2) {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
#purchase > .itembox > .left > .etc > ul > li > a {display: block; width: 100%; padding:6px 10px;}
#purchase > .itembox > .left > .etc > ul > li > a > span {font-size: 13px; float: right;}
#purchase > .itembox > .left > .etc > ul > li > a:hover {background-color: #dadada;}


        /* 오른쪽 부분 */
#purchase > .itembox > .right {width:75%; height:100%; float: right;}
#purchase > .itembox > .right > .top {width:100%; height:150px; margin-bottom: 30px;}
#purchase > .itembox > .right > .top > ul {display: flex;}
#purchase > .itembox > .right > .top > .category > li {font-size: 14px; padding:3px 6px; border: 1px solid #ccc; margin-right: 3px;}
#purchase > .itembox > .right > .top > .category > li:first-of-type {background-color: #5e6b9e; color:#fff; border: 1px solid #5e6b9e;}
#purchase > .itembox > .right > .top > .tit {margin:10px 0;}
#purchase > .itembox > .right > .top > .tit > span:first-of-type {color: #3a60df; font-size: 24px;}
#purchase > .itembox > .right > .top > .tit > span:last-of-type {color: #777; font-size: 12px; margin-left: 10px;}
#purchase > .itembox > .right > .top > .author > li {font-size: 14px; margin-right: 10px; color: #777;}
#purchase > .itembox > .right > .top > .author > li > a {font-size: 14px;}
#purchase > .itembox > .right > .top > .author > li > a:hover {color: #3a60df; text-decoration: underline;}
#purchase > .itembox > .right > .top > .score {margin:10px 0;}
#purchase > .itembox > .right > .top > .score > span:first-of-type {background-image: url(../img/sub_good_score.png); width:25px; height:24px; background-position: -145px 0; display: inline-block;}
#purchase > .itembox > .right > .top > .score > span:nth-of-type(2) {background-image: url(../img/sub_heart.gif); width: 54px; height:14px; display: inline-block;}
#purchase > .itembox > .right > .top > .score > span:nth-of-type(3) {font-size: 14px;}
#purchase > .itembox > .right > .top > .score > span:nth-of-type(4) {font-size: 14px; color: #3a60df; border:1px solid #ccc; padding:2px 4px; cursor: pointer;}
#purchase > .itembox > .right > .top > .score > span:nth-of-type(4):hover {border: 1px solid #000;}
#purchase > .itembox > .right > .top > .rank > a {font-size: 14px;}
#purchase > .itembox > .right > .top > .rank > a > span {color: red;}
#purchase > .itembox > .right > .top > .rank > span {font-size: 14px; margin:0 5px;}
#purchase > .itembox > .right > .top > .rank > .popup {position: relative; border: 1px solid #ccc; padding:3px 6px; display: inline-block; cursor: pointer;}
#purchase > .itembox > .right > .top > .rank > .popup > div {position: absolute; top:22px; left:0px; border: 2px solid #3a60df; width:420px; height: 60px; font-size: 13px; background-color: #fff; display: none;}
#purchase > .itembox > .right > .top > .rank > .popup > div > h5 {margin:10px 10px 10px; font-size: 14px;}
#purchase > .itembox > .right > .top > .rank > .popup > div > a {font-size: 13px; margin-left: 10px;}
#purchase > .itembox > .right > .top > .rank > .popup > div > a:hover {color: #3a60df; text-decoration: underline;}

#purchase > .itembox > .right > .middle {width:100%; height: 240px;  border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
#purchase > .itembox > .right > .middle > .price {width:70%; height:100%; float: left; padding:30px 0;}
#purchase > .itembox > .right > .middle > .price > p {font-size: 14px; margin-bottom: 11px;}
#purchase > .itembox > .right > .middle > .price > .sale_price > span:first-of-type {color: red; font-size: 20px;}
#purchase > .itembox > .right > .middle > .price > .sale_price > span:last-of-type {color: #5e6b9e;}
#purchase > .itembox > .right > .middle > .price > .tab {margin-left:41px;}
#purchase > .itembox > .right > .middle > .price > p > .info {border: 1px solid #ccc; padding:1px 2px; cursor: pointer; position: relative;}
#purchase > .itembox > .right > .middle > .event {width:30%; height:100%; float: right; padding:30px 0 30px 20px; border-left: 1px solid #ddd;}
#purchase > .itembox > .right > .middle > .event > h5 {margin-bottom: 15px;}
#purchase > .itembox > .right > .middle > .event > h5 > a {color: #5e6b9e; font-size: 14px;}
#purchase > .itembox > .right > .middle > .event > h5 > a > span {color: red; }
#purchase > .itembox > .right > .middle > .event > h5 > a:hover {color: #3a60df; text-decoration: underline; }
#purchase > .itembox > .right > .middle > .event > ul > li {list-style: disc; margin-bottom: 10px; margin-left: 10px;}
#purchase > .itembox > .right > .middle > .event > ul > li > a {font-size: 13px;}
#purchase > .itembox > .right > .middle > .event > ul > li > a:hover {color: #3a60df; text-decoration: underline; }

#purchase > .itembox > .right > .bottom {width:100%; height:160px; border-bottom: 1px solid #ddd; padding:30px 0;}
#purchase > .itembox > .right > .bottom > p {font-size: 14px; margin-bottom: 11px;}
#purchase > .itembox > .right > .bottom > .tab {margin-left:69px;}
#purchase > .itembox > .right > .bottom > .tab > span:nth-of-type(1) {color: #fff; background-color: #5e6b9e; font-size: 12px; padding:1px 2px;}
#purchase > .itembox > .right > .bottom > .tab > span:nth-of-type(2) {color: #3a60df;}
#purchase > .itembox > .right > .bottom > p > .info {border: 1px solid #ccc; padding:1px 2px; cursor: pointer; position: relative;}

#purchase > .itembox > .right > .btnbox {width:100%; height:120px;  padding-top: 20px;}
#purchase > .itembox > .right > .btnbox > .amount {height:30px;}
#purchase > .itembox > .right > .btnbox > .amount > span {font-size: 14px;}
#purchase > .itembox > .right > .btnbox > .amount > input {width:50px; height:24px; text-align: right; outline: none; }
#purchase > .itembox > .right > .btnbox > .amount > button {width:24px; height:24px; color: #3a60df; font-weight: bold; background-color: #fff; border: 1px solid #000; cursor: pointer;}
#purchase > .itembox > .right > .btnbox > ul {width:100%; height:70px; display: flex; justify-content: space-between; align-items: flex-end;}
#purchase > .itembox > .right > .btnbox > ul > li {width:19%; height:50px; display: flex; align-items: center; justify-content: center; border: 1px solid #aaa;}
#purchase > .itembox > .right > .btnbox > ul > li > a {font-size: 17px; display: block; padding:16px 22px;}
#purchase > .itembox > .right > .btnbox > ul > li:first-of-type {background-color: #5e6b9e; border: 1px solid #5e6b9e;}
#purchase > .itembox > .right > .btnbox > ul > li:first-of-type > a {color: #fff;}
#purchase > .itembox > .right > .btnbox > ul > li:first-of-type:hover  {background-color: #fff; }
#purchase > .itembox > .right > .btnbox > ul > li:first-of-type:hover > a {color: #5e6b9e;}
#purchase > .itembox > .right > .btnbox > ul > li:nth-of-type(2) {background-color: #7b8ed1 ; border: 1px solid #7b8ed1 ;}
#purchase > .itembox > .right > .btnbox > ul > li:nth-of-type(2) > a {color: #fff;}
#purchase > .itembox > .right > .btnbox > ul > li:nth-of-type(2):hover {background-color: #fff ;}
#purchase > .itembox > .right > .btnbox > ul > li:nth-of-type(2):hover > a {color: #7b8ed1;}

    /* 왼쪽 고정 광고 */
#purchase > .ad {width:85px; position: absolute; left:-100px; top:100px;}
#purchase > .ad > ul {width:100%;}
#purchase > .ad > ul > li {width:100%; border: 1px solid #dadada; text-align: center; background-color: #fff;}
#purchase > .ad > ul > li:nth-of-type(2n) {border-top:none; border-bottom: none;}
#purchase > .ad > ul > li > button {font-size: 12px; width:97%; border-radius: 5px; border:none; margin-bottom: 5px; cursor: pointer; background-color: #ccc; color: #fff;}
#purchase > .ad > ul > li > button:hover {background-color: #eee; color: #000;}
#purchase > .ad > ul > li > a > img {width:100%;}





/* 이 책을 구매하신 분들이 함께 구매하신 상품입니다 */
#relation {width:1100px; height: 380px; margin: 0 auto 50px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding-top: 20px;}
#relation > h2 {width:1100px; height: 20px; }
#relation > ul {width:1100px; height: 320px; display: flex; position: relative; margin-top: 20px; justify-content: center;}
#relation > ul > li {width:160px; height:100%; text-align: center; margin:0 9px;}
#relation > ul > li > a {position: relative; display: inline-block; width: 120px; height: 174px;}
#relation > ul > li > a > img {border: 1px solid #777;}
#relation > ul > li > h5 > a {font-size: 13px; display: block; margin:10px 0;}
#relation > ul > li > h5 > a:hover {text-decoration: underline;}
#relation > ul > li > h6 {font-size: 13px; margin-bottom: 7px;}
#relation > ul > li > span {display: block; font-size: 12px; margin-bottom: 5px;}
#relation > ul > li > span:first-of-type {text-decoration: line-through; color: #ccc;}
#relation > ul > li > span:last-of-type {color: red;}
    /* 버튼 */
#relation > ul > div {position: absolute; top:40%; width: 50px; font-size: 40px; cursor: pointer; color: #dadada;}
#relation > ul > div:hover {color: #5e6b9e;}
#relation > ul > .prev {left:0;}
#relation > ul > .next {right:0; text-align: right;}




/* #infowrap */
#infowrap {width:1100px; margin:0 auto 50px; display: flex;}
/* #info */
#info {width:900px;}
    /* 앵커 공통 */
#info .anchor {width:100%; height:40px; display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;}
#info .anchor > li {width:25%; height: 100%; border: 1px solid #ddd; border-bottom: 1px solid #333; background-color: #eee;}
#info .anchor > li > a {display: block; width: 100%; height: 100%; text-align: center; font-size: 15px; line-height: 40px; color: #333;}
#info .anchor > .on {font-weight: bold; border-top: 1px solid #333; border-left: 1px solid #333;border-right: 1px solid #333; border-bottom: none; background-color: #fff;}
#info .anchor > .on > a {color: #000;}



    /* #info 자식 #event_info */
#event_info {width:100%; height:470px; margin:0 auto 50px;}
#event_info > h2 {margin-bottom: 20px; font-size: 18px;}
#event_info > h2 > span {margin-bottom: 20px; color: #3c5fdf; font-size: 12px;}
#event_info > .box {display: flex; flex-flow: row wrap; justify-content: space-between;}
#event_info > .box > li {width: 49%; display: flex; margin-bottom: 20px;}
#event_info > .box > li > div > a {display: block;}
#event_info > .box > li > div > a > img {width:165px; height: 100px;}
#event_info > .box > li > div > p {margin: 20px 20px 20px 0; font-size: 14px; cursor: pointer; line-height: 18px;}
#event_info > .box > li > div > p:hover {color: #3a60df; text-decoration: underline;}
#event_info > .box > li > div > span {font-size: 14px;}
#event_info > .box > li > div:last-of-type {margin-left: 15px;}



    /* #info 자식 #book_info */
#book_info {width:100%;  margin:0 auto 50px; }
#book_info > table {width:850px; border-top:1px solid #ddd; border-collapse: collapse;}
#book_info > table > tbody > tr > td {border: 1px solid #ddd; height:30px; line-height: 30px; padding-left: 20px; border-right: none;}
#book_info > table > tbody > tr > td:first-of-type {width:225px; text-align: center; padding-left: 0px; border-left: none;}
#book_info > table > tbody > tr > td > a  {font-size: 16px;}
#book_info > table > tbody > tr > td > a:hover  {color: #3a60df;}

#book_info > h2 {margin-top: 40px; font-size: 18px;}
#book_info > h3 {font-size: 14px; color: #777; margin:25px 0 15px;}
#book_info > p > a {font-size: 12px; }
#book_info > p > a:hover {color: #3a60df; }

#book_info > .tag {display: flex;}
#book_info > .tag > li {border: 1px solid #333; margin-right: 10px; border-radius: 10px;}
#book_info > .tag > li > a {display: block; width: 100%; height: 100%; padding: 5px 8px;}
#book_info > .tag > li:hover {background-color: #5e6b9e; border: 1px solid #5e6b9e;}
#book_info > .tag > li:hover > a {color: #fff;}

#book_info > .short {margin:40px 0 20px 0; font-size: 14px; font-weight: bold; color: #333; line-height: 22px;}

#book_info > .summary {font-size: 12px; width: 850px; line-height: 22px;}

#book_info > .video {margin:30px 0;}
#book_info > .video > h3 {font-size: 14px; color: #777; margin-bottom: 20px;}
#book_info > .video > p {font-size: 12px; color: #777; line-height: 22px; margin-top: 10px;}

#book_info > .author {width: 850px;}
#book_info > .author > h2 {font-size: 18px; margin-bottom: 20px;}
#book_info > .author > .itembox {display: flex; margin-bottom: 20px;}
#book_info > .author > .itembox > .imgbox {width:150px; height: 200px;}
#book_info > .author > .itembox > .imgbox > img {width:100%; height: 100%;}
#book_info > .author > .itembox > .introduce {padding:20px 0 20px 20px; width: 700px;}
#book_info > .author > .itembox > .introduce > h3 {font-size: 14px; width: 339px; float: left;}
#book_info > .author > .itembox > .introduce > h3 > a {font-size: 14px;}
#book_info > .author > .itembox > .introduce > h3 > a:hover {color: #3a60df;}
#book_info > .author > .itembox > .introduce > span { font-size: 13px; border: 1px solid #5e6b9e; padding: 3px 6px; border-radius: 5px; cursor: pointer;}
#book_info > .author > .itembox > .introduce > span:hover {background-color: #5e6b9e; color: #fff;}
#book_info > .author > .itembox > .introduce > p {font-size: 12px; color: #777; line-height: 22px; margin-top: 20px;}
#book_info > .author > .etc {width:850px; border: 1px solid #ddd; padding:20px;}
#book_info > .author > .etc > h3 {font-size: 14px; margin-bottom: 20px;}
#book_info > .author > .etc > h3 > a {font-size: 14px;}
#book_info > .author > .etc > h3 > a:hover {color: #3a60df;}
#book_info > .author > .etc > ul {display: flex; position: relative; justify-content: space-around; height: 280px;}
        /* 리스트  */
#book_info > .author > .etc > ul > li {width: 150px; text-align: center;}
#book_info > .author > .etc > ul > li > a {position: relative;}
#book_info > .author > .etc > ul > li > a > img {border: 1px solid #000;}
#book_info > .author > .etc > ul > li > h5 > a {font-size: 13px; display: block; margin:10px 0;}
#book_info > .author > .etc > ul > li > h5 > a:hover {text-decoration: underline;}
#book_info > .author > .etc > ul > li > h6 {font-size: 13px; margin-bottom: 7px;}
#book_info > .author > .etc > ul > li > span {display: block; font-size: 12px; margin-bottom: 5px;}
#book_info > .author > .etc > ul > li > span:first-of-type {text-decoration: line-through; color: #ccc;}
#book_info > .author > .etc > ul > li > span:last-of-type {color: red;}
        /* 버튼 */
#book_info > .author > .etc > ul > div {position: absolute; width: 30px; font-size: 30px; cursor: pointer; color: #dadada; top:30%;}
#book_info > .author > .etc > ul > div:hover {color: #5e6b9e;}
#book_info > .author > .etc > ul > .prev {left:0;}
#book_info > .author > .etc > ul > .next {right:0; text-align: right;}

#book_info > .translator {margin-top: 40px; width: 850px;}
#book_info > .translator > .introduce {padding:20px 0; margin-bottom: 20px;}
#book_info > .translator > .introduce > h3 {font-size: 14px; width: 504px; float: left;}
#book_info > .translator > .introduce > h3 > a {font-size: 14px;}
#book_info > .translator > .introduce > h3 > a:hover {color: #3a60df;}
#book_info > .translator > .introduce > span { font-size: 13px; border: 1px solid #5e6b9e; padding: 3px 6px; border-radius: 5px; cursor: pointer;}
#book_info > .translator > .introduce > span:hover {background-color: #5e6b9e; color: #fff;}
#book_info > .translator > .introduce > p {font-size: 12px; color: #777; line-height: 22px; margin-top: 20px;}
#book_info > .translator > .etc {width:850px; border: 1px solid #ddd; padding:20px;}
#book_info > .translator > .etc > h3 {font-size: 14px; margin-bottom: 20px;}
#book_info > .translator > .etc > h3 > a {font-size: 14px;}
#book_info > .translator > .etc > h3 > a:hover {color: #3a60df;}
#book_info > .translator > .etc > ul {display: flex; position: relative; justify-content: space-around; height: 280px;}
        /* 리스트  */
#book_info > .translator > .etc > ul > li {width: 150px; text-align: center;}
#book_info > .translator > .etc > ul > li > a {position: relative;}
#book_info > .translator > .etc > ul > li > a > img {border: 1px solid #000;}
#book_info > .translator > .etc > ul > li > h5 > a {font-size: 13px; display: block; margin:10px 0;}
#book_info > .translator > .etc > ul > li > h5 > a:hover {text-decoration: underline;}
#book_info > .translator > .etc > ul > li > h6 {font-size: 13px; margin-bottom: 7px;}
#book_info > .translator > .etc > ul > li > span {display: block; font-size: 12px; margin-bottom: 5px;}
#book_info > .translator > .etc > ul > li > span:first-of-type {text-decoration: line-through; color: #ccc;}
#book_info > .translator > .etc > ul > li > span:last-of-type {color: red;}
        /* 버튼 */
#book_info > .translator > .etc > ul > div {position: absolute; width: 30px; font-size: 30px; cursor: pointer; color: #dadada; top:30%;}
#book_info > .translator > .etc > ul > div:hover {color: #5e6b9e;}
#book_info > .translator > .etc > ul > .prev {left:0;}
#book_info > .translator > .etc > ul > .next {right:0; text-align: right;}
#book_info > .textbox {width:850px; font-size: 12px; margin: 20px 0 10px; line-height: 22px;}

#book_info > .bookcard {width:850px; display: flex; margin-top: 20px; justify-content: space-between;}
#book_info > .bookcard > .big {width:420px; height: 420px; position: relative;}
#book_info > .bookcard > .big > img {width:100%; height: 100%;}
#book_info > .bookcard > .big > .count {position: absolute; bottom: 0; left: 0; width: 100%; height: 40px; background-color: rgba(253, 253, 253, 0.7); text-align: center; line-height: 40px;}
#book_info > .bookcard > ul {width: 420px; height: 420px; display: flex; flex-flow: row wrap; justify-content: space-between; align-content: space-between; position: relative;}
#book_info > .bookcard > ul > li {width: 200px; height: 200px; border: 5px solid #ccc; cursor: pointer;}
#book_info > .bookcard > ul > li > img {width: 100%; height: 100%;}
#book_info > .bookcard > ul > li:hover {border: 5px solid #5e6b9e;}
#book_info > .bookcard > ul > div {position: absolute; width: 40px; font-size: 40px; cursor: pointer; color: #dadada; top:45%; background-color: rgba(0, 0, 0, 0.5); display: none;}
#book_info > .bookcard > ul:hover > div {display: block;}
#book_info > .bookcard > ul > div:hover {background-color: rgba(0, 0, 0, 0.8);}
#book_info > .bookcard > ul > .prev {left:0;}
#book_info > .bookcard > ul > .next {right:0; text-align: right;}








    /* #info 자식 #review */
#review {width:100%; height:500px; margin:0 auto 50px; background-color: rgba(0, 0, 255, 0.7);}



    /* #info 자식 exchange */
#exchange {width:100%; height:500px; margin:0 auto 50px; background-color: rgba(0, 255, 255, 0.7);}




/* 오른쪽 광고 */
#infowrap > .ad {width:200px; height:1500px; background-color: yellowgreen; }