@charset "utf-8";

/* TOP 버튼 */
#topBtn {display: none; position: fixed; bottom: 20px; right: 30px; font-size: 16px; border:none; background-color: red; color:#fff; cursor:pointer; padding:15px; border-radius: 5px; z-index: 99;}
#topBtn:hover {background-color: #1e1a34;}


/* 슬라이더  */
#slider {width:100%; height:460px; position: relative; background-color: #ededed;}
.slidebox {width:100%; height:460px; margin:0 auto; overflow: hidden; }
.slidebox > a > img {width:100%; height:100%;}

/* 슬라이더 Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


#contents {width:100%; margin:0 auto;}



/* 배송안내 이미지 */
.del_con {width:1200px; margin:0 auto; height: 300px;}
.del_left {float:left; margin:60px 0 90px 5px; width: 590px; height: 150px; background-image: url("../img/del_left.jpg"); background-repeat: no-repeat;}
.del_left > p {color:#666; margin:30px 0 5px 40px; font-size: 17px; font-weight: bold;}
.del_left > strong {display: block; font-size: 20px; margin:0 0 15px 40px;}
.del_left > span {display: block; font-size:14px; margin:0 0 5px 40px;}
.del_left > span > a {color:#666;}
.del_left > span:hover a {color:#000;}
.del_right {float:right; margin:60px 5px 90px 0; width: 590px; height: 150px; background-image: url("../img/del_right.jpg"); background-repeat: no-repeat;}
.del_right > p {color:#666; margin:30px 0 5px 40px; font-size: 17px; font-weight:bold;}
.del_right > strong {display: block; font-size: 20px; margin:0 0 15px 40px;}
.del_right > span {display: block; font-size:14px; margin:0 0 5px 40px; color:#666;}



/* 각 제목 */
div.tit {width: 100%; height:90px; text-align: center; margin-bottom: 10px;}
div.tit h3 {font-size: 40px; margin:0 0 12px 5px;}
div.tit h4 {font-size: 18px; margin:0 0 10px 5px; color:#1e1a34; line-height: 20px; font-weight: bold;}



/* 신제품 */
.mainNewWrap {width:1200px; height:1100px; margin:0 auto;}
.new_con {width:1200px; height:850px; }

/* 제품 박스 */
.item_cont {width:25%; float:left; margin:5px 0 55px 0; padding:0 5px;}
.item_img {width:288px; height:288px; overflow:hidden; position: relative;}
.item_img > a > img {width:100%; height:100%; transition: 0.4s;}
.item_img > a > img:hover{transform: scale(1.1);}
.item_info {margin:5px 0 0 0;}
.item_info strong {display: inline-block; font-size: 16px;}
.item_explain {font-size: 12px; color: #666; display: block;}
.price {font-size: 14px; display: inline-block;}
.t {font-size: 12px; color:#666; display: block;}

/* 신제품 더보기 버튼 */
.newmore {text-align: center;}
.newmore a {padding:15px 20px; border-radius:40px; border:1px solid #ccc; color: #333; font-size: 15px;}
.newmore a:hover{cursor:pointer; background-color:#1e1a34; color:#fff; border:none;}



/* 회색바탕 배너 */
.mainMiniBanner {width:100%; height:190px; margin:0 0 100px; background-color: rgba(18,42,78,0.1);}
.mini_cont {width:1200px; margin:0 auto; padding:40px 0 55px;}
span.tit {display:block; overflow: hidden; padding:0 5px; font-weight: 700; font-size: 30px; line-height: 70px;}
span.txt {display:block;  padding:0 30px; font-size: 19px; line-height: 25px;}
span.tit > a:hover {opacity: 0.5;}
span.txt > a:hover {opacity: 0.5;}


/* 베스트 상품 */
.mainBestWrap {width:1200px; height:1200px; margin:0 auto;}
.best_con {width:1200px; height:850px; }


/* 베스트 상품 선택 목록 */
.goods_tab {margin:10px auto 30px; text-align: center;}
.goods_tab > ul {width:100%; display:inline-block;}
.goods_tab li {display: inline-block; margin:2px 4px 6px;}
.goods_tab li > a {color:#1e1a34; border:1px solid #ccc; border-radius: 20px; display: block; line-height: 38px; padding:0 15px; font-size: 15px; transition: 0.1s;}
.goods_tab li > a:hover {background-color: #1e1a34; color:#fff; border:1px solid darkslateblue;}

/* 베스트 아이콘 */
.item_img > .best_icon {position: absolute; top:20px; left:20px; font-size:12px; color:#fff; background: #1e1a34; padding: 10px 15px;}

/* 베스트 장바구니 */
.item_img > .item_link {position: absolute; bottom: 20px; right: -3px; width:30%; height: 40px; text-align: center; line-height: 1;}
.item_link > .icon_btn {display: inline-block; width: 45px;; height: 45px; background: rgba(255, 255, 255, 0.7); border-radius: 50%; transition: 0.3s; border: none;}
.icon_btn > img {width:24px; vertical-align: middle;}
.icon_btn:hover {background: rgba(255, 255, 255, 1);}

/* 베스트 더보기 버튼 */
.bestmore {text-align: center;}
.bestmore a {padding:15px 20px; border-radius:40px; border:1px solid #ccc; color: #333; font-size: 15px;}
.bestmore a:hover{cursor:pointer; background-color:#1e1a34; color:#fff; border:none;}



/* 이벤트 */
.event_con {width:1200px; margin:0 auto; height: 600px;}
.event_con > .tit {text-align: left;}
.eventImg {width: 1200px; height: 400px; background-image: url(../img/event.jpg); background-repeat: no-repeat;}
.eventImg > .logo {display: inline-block; margin:80px 0 0 70px; font-size: 20px; padding: 10px 15px; color:#fff; background-color: deeppink; border-radius: 20px;}
.eventImg > strong {display: block; margin:20px 0 10px 65px; font-size: 45px;}
.eventImg > p {margin:0 0 30px 70px; font-size: 26px;}
.eventImg > span {display: inline-block; margin:0 0 0 70px; font-size: 20px; }
.eventImg > span > a {color: #666;}
.eventImg > span:hover > a {color:#000;}


/* md 추천 */
.mainMDWrap {margin:50px auto 100px; width:1200px; height: 700px;}
.mainMDWrap > .tit {text-align: left;}
.mainmd {margin:30px 0; height:600px;}
.mdleft {width:50%; height:600px; overflow: hidden; float:left; padding:0 10px 0 0; position: relative;}
.mdleft img {width:100%; height:590px;}
.mdright {width:50%; height: 600px; overflow: hidden; float:left;}
.right_box {width:50%; overflow:hidden; float:left; padding:0 10px 5px 0;  position: relative;}

.right_box > a > img {width:100%; height:100%; transition:0.3s;}

/* 이미지 뒤에 글씨 넣기 */
.mdleft > a > .imgtext {float:left;  width:590px; height:590px; position:absolute; top:0; left:0; background-color:rgba(0,0,0,0); transition: 0.5s;}
.mdleft > a > .imgtext > p {position: absolute; display: inline-block;  width: 100%; color:rgba(255,255,255,0); bottom:230px; }
.mdleft > a > .imgtext > p > .md_tit {display: inline-block; font-size: 25px; width: 100%; padding-left: 80px; }
.mdleft > a > .imgtext > p > .md_etc {display: inline-block; width: 100%; padding-left: 80px;}


.imgtext {float:left;  width:97%; height:97%; position:absolute; top:0; left:0; background-color:rgba(0,0,0,0); transition: 0.5s;}
.right_box > a > .imgtext > span {position: absolute; display: inline-block; text-align: center; width: 100%; color:rgba(255, 255, 255, 0); top:130px; }
.mdImg a:hover > .imgtext {background-color: rgba(0,0,0,0.6);}
.mdImg a:hover > .imgtext span {color:rgba(255, 255, 255, 1)}



/* 인스타 */
.instaCon {width:1200px; height:380px; margin:0 auto 50px;}
.instaTit {text-align: center;}
.instaTit h3 {margin:0 10px 45px 5px; font-size:40px; display: inline-block;}
.instaTit a > span {font-size: 22px; color:#808080; padding:0 0 0 20px;}
.instaTit a:hover > span {color:#333;}
.insta_widget {width:100%; height:200px;}
.insta_item {width:160px; height:160px; float: left; margin:0 5px; overflow: hidden;}
.insta_item img {width:100%; height: 100%;}


.insta_widget > .insta_item:hover {opacity: 0.7;}


/* .instaCon {text-align: center;} */
.instamore {text-align: center; margin:0 0 70px;}
.instamore a {display: inline-block; padding:10px 15px; border-radius:40px; border:1px solid #ccc; color: #333; font-size: 15px;}
.instamore a:hover{cursor:pointer; background-color:#1e1a34; color:#fff; border:1px solid darkslateblue;}


