@charset "utf-8";

#sub {width:100%; margin:0 auto;}

/* #contents > .product > .product_box */
#contents {width:100%; height:1100px; margin:0 auto; }
.product {width:1200px; height:100%; position: relative; margin:30px auto 0;}

/* 완쪽 구역 */
.product > .product_left {width:50%; height:700px; float: left;}
div.category {width:100%; height:25px;}
div.category > ul > li {float:left; font-size: 14px; color: #666; display: block; margin-right: 10px;}

/* 메인 이미지 */
.img_box {width:500px; height:500px; overflow: hidden;}
.img_box > img {width:100%; height: 100%; transition: 0.3s;}
.img_box > img:hover {opacity: 0.8;}

/* 별점 */
.score_box {width:500px; height:60px; }
.score_left {width:350px; height: 60px; position: relative; padding: 20px 0; float: left;}
.score_left > .star_box {position: absolute; left:0; width:120px; height: 20px;}
.star_box > .star_bg {background: url("../img/review_star.png") no-repeat left center; width: 120px; height: 20px; z-index: 2; position: absolute; top:0; left: 0; background-size: 120px 21px;}
.star_box > .percent {background-color: #1e1a34; height:20px; position: relative; z-index: 1; max-width: 120px; width:91.12%;}
.score_left > .no1 {display: inline-block; margin-left: 130px; font-weight: bold;}
.score_left > .no2 {display: inline-block; color: #666;}
.score_left > .txt1 {display: inline-block; color: #666;}
.score_left > .no3 {display: inline-block; color: #666;}

.score_right {width: 150px; height: 60px; float: right; padding:18px 0 20px; text-align: right;}
.score_right > .snsshare {border: 1px solid #666; background-color: #fff; padding:2px;}
.score_right > .snsshare:hover {opacity: 0.8;}
.snsshare > a {color:#666;}
.snsshare > a > div {display: inline-block;position: relative; width: 20px; height: 20px;}
.snsshare > a > div > img {position: absolute; left:0; top:4px;}

/* 다른 이미지 */
.other_imgbox {width:500px; overflow: hidden;}
.other_imgbox > ul > li {width: 115px; height:115px; float: left; overflow: hidden; margin-right: 13px;}
.other_imgbox > ul > li > img {width:100%; height: 100%;}
.other_imgbox > ul > li:last-child {margin-right: 0px; margin-left: 1px;}
.other_imgbox > ul > li > img:hover {opacity: 0.8;}




/* 오른쪽 구역 */
.product > .product_right {width:50%; height:700px; float: right; background-color: burlywood;}
.product_info {margin-top: 25px;}
.product_info > .table_box {width:100%; height:350px; }
.table_box > h3 {font-size: 24px;}
.table_box > p {font-size: 15px; color: #666; margin-top:5px;}
.table_box > table {text-align: left; border-spacing: 0 20px; width: 100%; height:260px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; margin-top: 15px;}
.table_box > table > tbody
.table_box > table > tbody th {font-size: 15px; color: #666; width: 130px;}
.table_box > table > tbody td {font-size: 15px;}
.table_box > table > tbody .btn_layer {background-color: #eee; border: 1px solid #666; position: relative; display: inline-block; margin-left: 20px; width:85px; height:20px; cursor: pointer;}
.btn_layer > .layer_wrap {display:none; width: 310px; height: 120px; border: 1px solid #eaeaea; background-color: #fff; cursor: default; z-index: 1; position: absolute; left:-20px;} 
.btn_layer:hover > .layer_wrap {display: block;}
.btn_layer > .layer_wrap > .ly_tit {width: 100%; height:30px; background-color: #f4f4f4; font-size: 15px; padding-left: 10px; padding-top: 5px;}
.btn_layer > .layer_wrap > .ly_cont {width: 100%;}
.btn_layer > .layer_wrap > .ly_cont > ul > li {text-align: left; padding:5px 10px; border-top: 1px solid #e8e8e8; font-size: 15px; height: 30px;}
.btn_layer > .layer_wrap > .ly_cont > ul > li > span {float: right; color: #2273a2;}

.product_info > .purchase_box {width:100%; height:150px; background-color:chartreuse;}



/* 아래 구역 */
.product > .product_bottom {width:100%; height: 400px; background-color: #2273a2; float: left;}
.product_bottom > h4 {margin-top:50px; font-size: 18px;}




/* #info > .detail, .review, .inquiry, .shipping */
#info {width:100%; margin:0 auto;}

.info_ul {width: 100%; height: 30px; overflow: hidden; margin: 0 auto;}
.info_ul > li {float:left; position: relative; width: 25%; text-align: center; }
.info_ul > .on > a {color:#333; font-weight: bold; border-bottom: 3px solid #333;}
.info_ul > li > a {display: block; font-size: 18px;}

.detail {margin:0 auto; width:1200px; height:500px; background-color: darksalmon;}




.review {margin:0 auto; width:1200px; height:500px; background-color:darkgrey;}



.inquiry {margin:0 auto; width:1200px; height:500px; background-color:yellowgreen;}



.shipping {margin:0 auto; width:1200px; height:500px; background-color:violet;}