@charset "utf-8";

#sub {width:100%; margin:0 auto;}

/* #contents > .product > .product_box */
#contents {width:100%; height:800px; margin:0 auto; }
.product {width:1200px; height:100%; background-color:blueviolet; position: relative; margin:30px auto 0;}

/* 완쪽 구역 */
.product > .product_left {width:50%; height:700px; float: left; background-color: aquamarine;}
div.category {width:100%; height:25px;}
div.category > ul > li {float:left; font-size: 14px; color: #666; display: block; margin-right: 10px;}

/* 메인 이미지 */
.img_box {width:500px; height:500px; overflow: hidden;}
.img_box > img {width:100%; height: 100%; transition: 0.3s;}
.img_box > img:hover {opacity: 0.8;}

/* 별점 */
.score_box {width:500px; height:60px; }
.score_left {width:350px; height: 60px; background-color: yellow; position: relative;}
.score_left > .star_box {position: absolute; left:0; width:120px; height: 20px;}
.star_box > .star_bg {background-image: url("../img/review_star.png"); background-repeat: no-repeat; height: 30px; z-index: 2; position: absolute; top:0; left: 0; background-size: 120px 20px; background-position: left top;}
.star_box > .percent {background-color: #1e1a34; height:20px; position: relative; z-index: 1; width: 120px;}


/* 다른 이미지 */
.other_imgbox {width:500px; overflow: hidden;}
.other_imgbox > ul > li {width: 115px; height:115px; float: left; overflow: hidden; margin-right: 13px;}
.other_imgbox > ul > li > img {width:100%; height: 100%;}
.other_imgbox > ul > li:last-child {margin-right: 0px; margin-left: 1px;}
.other_imgbox > ul > li > img:hover {opacity: 0.8;}




/* 오른쪽 구역 */
.product > .product_right {width:50%; height:600px; float: right; background-color: burlywood;}
.product_info > .table_box {width:80%; height:250px; background-color: coral;}
.table_box > h3 {font-size: 26px;}

.product_info > .purchase_box {width:80%; height:250px; background-color:chartreuse;}







/* #info > .detail, .review, .inquiry, .shipping */
#info {width:100%; margin:0 auto;}

.info_ul {width: 100%; height: 30px; overflow: hidden; margin: 0 auto;}
.info_ul > li {float:left; position: relative; width: 25%; text-align: center; }
.info_ul > .on > a {color:#333; font-weight: bold; border-bottom: 3px solid #333;}
.info_ul > li > a {display: block; font-size: 18px;}

.detail {margin:0 auto; width:1200px; height:500px; background-color: darksalmon;}




.review {margin:0 auto; width:1200px; height:500px; background-color:darkgrey;}



.inquiry {margin:0 auto; width:1200px; height:500px; background-color:yellowgreen;}



.shipping {margin:0 auto; width:1200px; height:500px; background-color:violet;}