@charset "utf-8";

/* 푸터 */
#footerwrap {width:100%; background-color: black;}
footer {width:1200px; height: 200px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
footer > .copyright {color:#ccc;}
footer > .copyright > span {color:#ec167f;}
footer > .sns > ul {display: flex;}
footer > .sns > ul > li > a {color:#ccc; padding:5px 9px;}
footer > .sns > ul > li > a:hover {background-color:#ec167f; color: #000; border-radius: 2px;}